
<div class="container main-content create-account">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title">Forgot your password?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= flash_messages %>
          <%= f.text_field :username %>
          <%= f.submit 'Proceed', :class => 'btn btn-default' %>
      <% end %>
    </div>
    <div class="col-md-6 social-media-registration">
    </div>
  </div>
</div>
