<div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <a class="navbar-brand" href="<%= root_url %>">ask<span>.me</span></a>
        <div class="pull-right link-login">
          <span>Have an account?</span>
          <a href="<%= new_user_session_url %>">
            <button class="btn btn-default btn-login" id="modal-trigger">Login</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end of navbar -->