<div class="container main-content profile">
  <%= render 'shared/profile' %>

  <div class="row answers">
    <div class="col-md-12">
      <h4><strong>answers</strong></h4>
      <ul class="list-unstyled">
        <% @answers.each do |answer| %>
        <li>
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p><strong><%= answer.question %></strong></p>
          <p><%= answer.reply %></p>
          <div class="meta clearfix">
            <span class="text-muted"><%= time_ago_in_words answer.replied_at %> ago</span>
            <span class="text-muted pull-right"><a href="#">1 person</a> likes this</span>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>